*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;

}

/*Landing Section*/


/*About Me Section*/
#aboutme{
    padding-top: 3rem;
    padding-bottom: 3rem;
     background-color: darkgoldenrod;
   
    

}
.aboutme-img{
    width: 100%;
    
}

/*Gallery Section*/
#gallery{
    background-color: dimgray;
    padding-top: 3%;
    color: #fff;
}

.gallery-img{
   width: 100%;
   height: 100%;
   padding-bottom: 1rem;
   margin: 0;

}


/*Contact Us*/


#contact{
    padding-top: 2%;
    align-items: center;
}

.btn{
    margin-top: 3%;
    width: 100%;
    background-color: lightsteelblue;
}

/*Footer Section*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
        background-color: red;
}
.carousel-indicators li {
        background-color: black;
}